/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* VARIABLES */
:root {
    --white-text: #fff;
    --hover-text-color: red;
}

/*____________________________*/
/*      HEADER SECTION        */
/*____________________________*/

header {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #111;
}



/* MAIN NAV */

#main-nav {
    background-color: #333;
    box-shadow: 0 3px 5px #aaa;
}

/* TOGGLER BUTTON */

.navbar-toggler {
    border: 3px solid var(--white-text);
    background-color: var(--white-text);
}

/* LOGO SECTION */

.main-nav--logo {
    margin: 0 40px 0 20px;
}

.main-nav--logo img {
    width: 50px;
    vertical-align: middle;
}

/* LINK SECTION */

#link-section {
    justify-content: space-evenly;
    width: 30vw;
}

.main-nav--link {
    color: var(--white-text);
    padding: 10px 23px;
    cursor: pointer;
    text-decoration: none;
}

.inactive-link:hover {
    color: var(--hover-text-color);
    border: 3px solid darkred;
    border-radius: 5px;
    padding: 10px 15px;
}

.main-nav-link:visited {
    color: var(--white-text);
}

.active-link {
    padding:5px 20px;
    background: linear-gradient(red, darkred);
    color: var(--white-text);
    border-radius: 5px;
    box-shadow: 1px 1px 3px #111;
}

.active-link:hover {
    color: var(--white-text);
    background: linear-gradient(darkred, red);
}

/* SEARCH BAR SECTION */

/* #search-bar-section {
    width: 30vw;
} */

.main-nav--search input {
    width: 25vw;
    height: 25px;
    vertical-align: middle;
    outline: none;
}

.main-nav--search img {
    width: 25px;
    padding: 2px;
    vertical-align: middle;
    background-color: red;
    border-radius: 2px;
    cursor: pointer;
}

/* ACCOUNT SECTION */

.main-nav--signin #signin,
.main-nav--signin #create-account,
.main-nav--cart #cart {
    text-decoration: none;
}

.main-nav--signin #signin:hover,
.main-nav--signin #create-account:hover,
.main-nav--cart #cart:hover {
    color: red;
}

.main-nav--signin #signin,
.main-nav--signin #create-account,
.main-nav--cart #cart,
.main-nav--signin #signin:visited,
.main-nav--signin #create-account:visited,
.main-nav--cart #cart:visited {
    color: var(--white-text);
}

/* CART */

.main-nav--cart #cart img {
    width: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

/*__________________________*/
/*      FOOTER SECTION      */
/*__________________________*/

/* ELEMENT STYLES */
footer {
    background-color: #333;
}

label {
    display: block;
}

input[type="button"] {
    display: inline;
}

/* FOOTER NAV SECTION */
#footer-nav-section {
    width: 80vw;
}

#footer-nav--list {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    color: var(--white-text);
}

#newsletter--header {
    display: flex;
    align-items: center;
}

.signup-section {
    width: 50%;
}

#btn {
    padding: 5px 10px;
    background: linear-gradient(red, darkred);
    color: var(--white-text);
    border-radius: 5px;
    box-shadow: 1px 1px 3px #222;
    border: none;
    vertical-align: middle;
}

#btn:hover {
    padding: 5px 10px;
    background: linear-gradient(darkred, red);
    color: var(--white-text);
    border-radius: 5px;
    box-shadow: -1px 1px 3px #222;
    border: none;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .signup-section {
        display: none;
    }
}